[submodule "LabView Lib/LogLib"]
	path = viLib/LogLib
	url = git@github.com:hyx3179-LabView/LogLib.git
[submodule "LabView Lib/QueueLib"]
	path = viLib/QueueLib
	url = git@github.com:hyx3179-LabView/QueueLib.git
[submodule "LabView Lib/TableLib"]
	path = viLib/TableLib
	url = git@github.com:hyx3179-LabView/TableLib.git
