[submodule "LabView Lib/Base64"]
	path = viLib/Base64
	url = git@github.com:hyx3179-LabView/Base64.git
[submodule "LabView Lib/LogLib"]
	path = viLib/LogLib
	url = git@github.com:hyx3179-LabView/LogLib.git
[submodule "LabView Lib/QueueLib"]
	path = viLib/QueueLib
	url = git@github.com:hyx3179-LabView/QueueLib.git
[submodule "LabView Lib/TableLib"]
	path = viLib/TableLib
	url = git@github.com:hyx3179-LabView/TableLib.git
[submodule "LabView Lib/UMLib"]
	path = viLib/UMLib
	url = git@github.com:hyx3179-LabView/UMLib.git
